@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #acd38d;
    --dark-bg: #7a5324;
    --darker-bg: #8090a1;
    --light-text: #ecf0f1;
    --border-color: #34495e;
    --gray-text: #052c15;
    --card-bg: #ffffff;
    --transition: all .3s ease;

}

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: var(--primary-color) var(--dark-bg);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark-bg);
    color: var(--light-text);
    line-height: 1.6;
}

a {
    color: var(--primary-color);
    transition: var(--transition);
    text-decoration: none;
}

ul {
   list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #052c15;
    backdrop-filter: blur(10px);
    z-index: 100;
    border-bottom: 1px solid var(--border-color);
}

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo spam {
    color: var(--primary-color);
}

.nav-links {
    display: flex;
    gap: 3rem;
}

.nav-links a {
    position: relative;
    padding: .5rem 0;
    transition: var(--transition);
}

.nav-links a::after {

    content : '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: var(--transition);
}

.nav-links a:hover{
    color: var(--primary-color);
}

.nav-links a:hover::after{
    width: 100%;
}

section{
    padding: 6rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.section-title{
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    padding-bottom: 1rem;
    position: relative;
}

.section-title:after {

    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background-color: var(--primary-color);
    transition: var(--transition);
}